[Desktop Entry]
Encoding=UTF-8
Name=Link to ActiveMQ - User - Static: network connectors and maxReconnectAttemptsactivemq.2283324.n4.nabble.com › ActiveMQ - User
Type=Link
URL=http://activemq.2283324.n4.nabble.com/Static-network-connectors-and-maxReconnectAttempts-td4685835.html
Icon=text-html
